### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
#purchase_data.head(5)

In [5]:
# UNIQUE LIST WITH SIMILAR SN's COMBINED
aggregation_functions = {'Age': 'first', 'Gender': 'first', 'Price': 'sum'}
purchase_data_new = purchase_data.groupby(purchase_data['SN']).aggregate(aggregation_functions)
#purchase_data_new

## Player Count

* Display the total number of players

In [6]:
unique_players = purchase_data['SN'].nunique()
unique_players_df = pd.DataFrame({'Total Players': [unique_players]})
unique_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
unique_items = purchase_data['Item ID'].nunique()
average_price = round(purchase_data['Price'].mean(), 2)
total_purchase = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()
purchasing_analysis_df = pd.DataFrame(
    {'Number of Unique Items':[unique_items],
     'Average Price':(f'${average_price}'),
     'Number of Purchases':[total_purchase],
     'Total Revenue':(f'${total_revenue}')
    })
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [92]:
unique_master = purchase_data.groupby(['SN'])
unique_master = unique_master.first()
gender_count = unique_master.groupby(['Gender']).size()
male_count = gender_count['Male']
female_count = gender_count['Female']
other_count = gender_count['Other / Non-Disclosed']
male_perc = male_count/unique_players
female_perc = female_count/unique_players
other_perc = other_count/unique_players
genderdemo_df = pd.DataFrame(
    {'':['Male', 'Female', 'Other / Non-Disclosed'],
     'Total Count':[male_count, female_count, other_count],
     'Percentage of Players':[male_perc, female_perc, other_perc]
    })
genderdemo_df2 = genderdemo_df.set_index([''])
format_dict = {'Percentage of Players': '{:.2%}'}
genderdemo_df2.style.format(format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
calc_df = purchase_data.groupby(['Gender'])
average_df = calc_df['Price'].mean()
add_df = calc_df['Price'].sum()
total_df = calc_df['Price'].count()
gender_group_df = purchase_data_new.groupby(['Gender'])
total_unique_df = gender_group_df['Price'].count()
average_total_pp = add_df / total_unique_df

summary_df = pd.DataFrame({'Purchase Count': total_df,
                           'Average Purchase Price' : average_df,
                           'Total Purchase Value': add_df,
                           'Avg Total Purchase per Person': average_total_pp
                          })
format_dict = {'Average Purchase Price': '${:,.2f}',
               'Total Purchase Value': '${:,.2f}',
               'Avg Total Purchase per Person': '${:,.2f}',
              }
summary_df.style.format(format_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [65]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 200]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_range = purchase_data_new
age_range['Age Range'] = pd.cut(purchase_data_new['Age'], age_bins, labels = group_names)
age_group = age_range.groupby('Age Range').count()
age_group = age_group.drop(columns = ['Age', 'Price'])
age_group = age_group.rename(index = str , columns = {'Gender' : 'Total Count'})
age_group['Percentage of Players'] = age_group['Total Count'] / (age_group['Total Count'].sum())
format_dict = {'Percentage of Players': '{:.2%}'}
age_group.style.format(format_dict)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
age_group_df = purchase_data_new.groupby(['Age Range'])
total_unique_df2 = age_group_df['Price'].count()

age_range2 = purchase_data
age_range2['Age Range'] = pd.cut(purchase_data['Age'], age_bins, labels = group_names)
age_calc = age_range2.groupby(['Age Range'])
age_add = age_calc['Price'].sum()
age_total = age_calc['Price'].count()
age_avg = age_calc['Price'].mean()
average_total_pp_age = age_add / total_unique_df2

summary_age = pd.DataFrame({'Purchase Count': age_total,
                            'Average Purchase Price' : age_avg,
                            'Total Purchase Value': age_add,
                            'Avg Total Purchase per Person': average_total_pp_age
                           })
format_dict = {'Average Purchase Price': '${:,.2f}',
               'Total Purchase Value': '${:,.2f}',
               'Avg Total Purchase per Person': '${:,.2f}'
              }
summary_age.style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [70]:
sn_group = purchase_data.groupby('SN')
sn_add = sn_group['Price'].sum()
sn_total = sn_group['Price'].count()
sn_avg = sn_add / sn_total
sn_summary = pd.DataFrame({'Purchase Count': sn_total,
                           'Average Purchase Price': sn_avg,
                           'Total Purchase Value': sn_add,
                          })
sort_df = sn_summary.sort_values(['Total Purchase Value'], ascending = False)
sort_df.reset_index(inplace = False)
sort_preview = sort_df.head()
format_dict = {'Average Purchase Price': '${:,.2f}',
               'Total Purchase Value': '${:,.2f}'
              }
sort_preview.style.format(format_dict)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [71]:
popular_df = purchase_data.groupby(['Item ID', 'Item Name'])
price_df = popular_df['Price'].first()
total_price = popular_df['Price'].sum()
count_price = popular_df['Price'].count()
item_summary = pd.DataFrame({'Purchase Count': count_price,
                             'Item Price': price_df,
                             'Total Purchase Value': total_price,
                            })
sort_item_sum = item_summary.sort_values(['Purchase Count'], ascending = False)
item_preview = sort_item_sum.head()
format_dict = {'Item Price': '${:,.2f}',
               'Total Purchase Value': '${:,.2f}'
              }
item_preview.style.format(format_dict)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [72]:
profit_df  = item_summary.sort_values(["Total Purchase Value"], ascending = False)
prof_preview = profit_df.head()
format_dict = {'Item Price': '${:,.2f}',
               'Total Purchase Value': '${:,.2f}'
              }
prof_preview.style.format(format_dict)